/*Fonts*/

font-family: 'Catamaran', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Nobile', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Romanesco', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Condiment', cursive;

/*Colors*/
#E6E2AF /*Sandy(light)*/
#A7A37E /*Stone(medium)*/
#EFECCA /*Beach(lightest)*/
#046380 /*Ocean(lt teal)*/
#002F2f /*Diver(dk teal)*/