// Color styles - based on the Adobe Color Theme: https://color.adobe.com/library/dcc4e139-d547-44b5-9712-7f997796941e/theme/9854880c-f851-49f0-b606-b7b5108a078c/

$color-scheme1: #6D8EAD; /*light blue*/
$color-scheme2: #190807; /*dark brown*/
$color-scheme3: #CFCDB4; /*vanilla*/
$color-scheme4: #362416; /*brown*/
$color-scheme5: #1F3447; /*dark blue*/
