// Typographical Styles

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

$primary-sans-serif: 'Roboto', sans-serif;
$h1: 'Kaushan Script', cursive;
$h2: 'Roboto', sans-serif;
