input {
	font-size: 100%;
	color: $color-scheme4;
	background-color: $color-scheme3;
	border: 1px solid $color-scheme5;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 8px 9px;
	display: block;
	padding: 10px, 10px, 10px, 20px;
	margin-left: 30px;
	margin-bottom: 10px;
}
